* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: yellowgreen;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.div {
  width: 150px;
  height: 150px;
  padding: 6px;
}

.div1 {
  background-color: blueviolet;
}

.div2 {
  background-color: orangered;
}

.div3 {
  background-color: gray;
}



.container {

}

.div2 {

}